@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #008080;
  --ifm-color-primary-dark: #007373;
  --ifm-color-primary-darker: #006d6d;
  --ifm-color-primary-darkest: #005a5a;
  --ifm-color-primary-light: #008d8d;
  --ifm-color-primary-lighter: #009393;
  --ifm-color-primary-lightest: #00a6a6;
}

h1 {
  font-weight: bold;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #008080;
  --ifm-color-primary-dark: #007373;
  --ifm-color-primary-darker: #006d6d;
  --ifm-color-primary-darkest: #005a5a;
  --ifm-color-primary-light: #008d8d;
  --ifm-color-primary-lighter: #009393;
  --ifm-color-primary-lightest: #00a6a6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
